.container {
    padding: 10px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  
  .container>h3 {
    margin: 5px;
  }
  
  .headingActive {
    color: #570404
  }
  
  .headingDisabled {
    color: #1429a3;
  }
  
  .containerDisabled {
    background-color: #564444
  }
  
  .containerActive {
    background-color: #6e76a5;
  }