.navigation{
    width: 100%;

    margin: 5px;
    padding: 10px;
    background-color: rgb(56, 54, 54);
    border: solid #7e7b7b 10px;
    box-shadow: 20px gray;
    position: sticky;
    top: 0;
}
.navList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.navElement{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.navElement:hover{
    color: orange;
}
